@import url('https://fonts.googleapis.com/css2?family=Jersey+10&display=swap');
@import "tailwindcss";

body {
  font-family: 'Jersey 10', sans-serif;
  color: #EE8700;
}

nav {
  font-family: 'Jersey 10', sans-serif;
  color: white;
  font-size: 36px;
}
